Source: openpanel-mod-apache2
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com
Build-Depends: debhelper (>= 5), libgrace-dev, openpanel-dev, openpanel-mkmodulexml
Standards-Version: 3.7.2

Package: openpanel-mod-apache2
Architecture: any
Depends: openpanel-core (>= 0.8.3), openpanel-mod-user, openpanel-mod-domain, apache2, logax, libapache2-mod-php5 | php5-cgi
Description: OpenPanel module to configure the apache2 webserver
 OpenPanel module to configure the apache2 webserver
